*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
	text-align: center;
}
h2{
	font: bold 12px Tahoma;
}
body{
	background: #D0FFFB;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack; center;
}

#main{
	/*border: 1px solid black;*/
	max-width: 1000px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding-top: 10px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 10px;
	margin: 20px;
}
#logo{
	padding: 20px;	
	/*border: 1px solid black;*/
	margin-bottom:20px;
}
#log{
	max-width: 1000px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding: 10px;
	margin-left:12%;
}
#register{
	max-width: 1000px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
	padding: 10px;
	margin-left:12%;
}
#centro{
	padding: 20px;
	padding-bottom: 80px;
	/*border: 1px solid black;*/
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2.5px solid #A6E4DD;
}
