body {
	margin-top: 49px;
	padding: 0;
	background: #F2EFFB;
	color: #BBBBBB;
}
h1, h2 {
	font:cursive;
	margin: 0;
	font-weight: normal;
	color: #6A0888;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}
h3{
	font: 18px cursive;
	color: grey;
}
a:link {
	color: #48ACDE;
}

a:hover, a:active {
	text-decoration: none;
	color: #48ACDE;
}

a:visited {
	color: #48ACDE;
}
/** LOGO */
#logo-wrap{
	margin:20px;
}

#logo {
	width: 40%;
	height: 60px;
}

#logo h1, #logo h2 {
	float: left;
	padding: 0 0 0 20px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:36px;
	font-style: italic;
}

#logo h2 {
	padding: 20px 0 0 5px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: ##48ACDE;
}

/** RELOJ */
#clockbox{
	text-align:right;
	float:right;
	width: 38%;
}

/* Menu */

#barra_menu {
	float: left;
	width: 60%;
	height: 100%;
	padding: 10px;
	padding-left: 20px;
	border:1px;
	-webkit-border-radius: 6px 6px;
}

#barra_menu ul {
	margin: 0;
	padding: 5px 0 0 0px;
	list-style: none;
	line-height: normal;
}

#barra_menu li {
	display: block;
	float: left;
}

#barra_menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 10px 20px;
	text-decoration: none;
	font: 14.2px cursive;
	color: grey;
}

#barra_menu a:hover { 
	text-decoration: none; 
	color: #48ACDE;
}

#barra_menu .current_page_item a {
	color: #48ACDE;
}



/** CONTENIDO */
#contenido{
	float: right;
	margin: 10px;
	padding: 10px;
	background: grey;
	width: 62%;
	height: 50%;
	-webkit-border-radius: 6px 6px;
}

/** CALENDARIO */
#calendario{
	margin: 10px;
	padding: 10px;
	padding-top: 30px;
}
#lateral {
	float: left;
	margin: 10px;
	width: 30%;
	margin-bottom:30px;
	background: black;
	-webkit-border-radius: 6px 6px;
}
#lateral > ul {
	margin: 5px;
	padding: 5px;
	list-style: none;
}
iframe{
	-webkit-border-radius: 6px 6px;
}
/** SEARCH */
fieldset{
	-webkit-border-radius: 6px 6px;
}
#search{
	margin-top: 98%;
}

#searchform {
	padding: 12px;
}

#search h3 {
	width: 50%;
	margin-left: 15px;
	margin-bottom: -3px;
}

#search #btn {
	float: right;
	-webkit-border-radius: 6px 6px;
	border: 1px solid grey;
	cursor: pointer;
	width: 70px;
	padding: 3px;
	margin-top: 3px;
}

#search #txt {
	margin-top: 3px;
	padding: 3px;
	width: 120px;
}

#search br {
}
